@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

.title {
    
}

.accent-color {
    background-color: rgba(42, 131, 214, 0.521) !important;
}

.chart {
    max-height: 300px;
    width: auto;
}

.footer {
    min-height: 80vh;
}